body {
  padding: 0 20%;
}

header {
  background-color: #cccccc;
  display: flex;
  gap: 7px;
  padding: 15px;
}

header > h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #455569;
}

.text-blue {
  font-family: Arial, Helvetica, sans-serif;
  color: #6004ff;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-one {
  display: flex;
  justify-content: flex-end;
}

.text-hobbies {
  color: #4a5a6e;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.card {
  border-radius: 20px 0 20px 0;
  box-shadow: 0px 0px 8px 1px #131313e0;
  padding: 0 25px;
}

.card.blue {
  background-color: #54d1f1;
}

.card.yellow {
  background-color: #f2ca85;
}

.card.red {
  background-color: #f89a7e;
}

.img-card{
  height: 100px;
  margin: 0 auto;
  display: block;
}

div > h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

div > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.container-three{
  border-radius: 20px 0 20px 0 ;
  background-color: #cccccc;
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 8px 1px #131313e0;
}

.text-other {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  margin-top: 20px;
}

.container-four{
  border-radius: 20px 0 20px 0 ;
  background-color: white;
  margin-top: 30px;
  box-shadow: 0px 0px 8px 1px #131313e0;
  padding: 30px;
}

.gif{
  width: 300px;
}

footer{
  background-color: black;
  margin-top: 30px;
  color: white;
  text-align: center;
  padding: 4px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
footer > p span {
  color:#005f71;
}